@model List<AdSanare.Entities.ExamenComplementario>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#listadoExamenes').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 3
                }],
                "language": {
                    'url': '@Url.Content("~/lib/arg.json")'
                }
            });
        });
        function VerExamenComplementario(Id) {
            var url = "/ExamenComplementario/Details?id=" + Id;
            $("#detalleBody").load(url, function () {
                $("#detalle").modal("show");
            })
        }
    </script>
}
<h1>Listado de Examenes Complementarios</h1>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Lista de Examenes Complementarios</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <div class="input-group input-group-sm pull-right">
                    <a class="btn btn-primary btn-sm" asp-controller="ExamenComplementario" asp-action="Create" title="Agregar Examen Complementario"><i class="fas fa-plus">Nuevo</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered table-hover" id="listadoExamenes">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Fecha Examen</th>
                    <th scope="col">Tipo Examen</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.Paciente.Nombre) @Html.DisplayFor(modelItem => p.Paciente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.FechaExamen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.TipoExamen)
                    </td>
                    <td align="center">
                        <a href="#" onclick="VerExamenComplementario(@p.Id)" data-toggle="modal" data-target="#detalle" title="Ver Examen Complementario" class="btn btn-info btn-xs"><i class="fa fa-search"></i></a>
                        <a href="@Url.Action("Edit", "ExamenComplementario", new { id = p.Id})" title="Editar Examen Complementario" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "ExamenComplementario", new { id = p.Id })" title="Borrar Examen Complementario" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="detalle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="detalleBody">
            </div>
        </div>
    </div>
</div>